<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imic.admin.listviewandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListMobileActivity"
            android:label="List of Mobile OS">

        </activity>
        <activity
            android:name=".ListFruitActivity"
            android:label="List of Fruits">

        </activity>
        <activity android:name=".ListFruitActivity2">

        </activity>

        <activity android:name=".ListFruitActivity22">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>